<div class="login-container">
    <mat-card>
      <mat-card-title>🎮 Gamer Login</mat-card-title>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        
        <mat-form-field class="full-width">
          <mat-label>Email or Username</mat-label>
          <input matInput formControlName="identifier" required>
          <mat-error *ngIf="loginForm.controls['identifier'].invalid && loginForm.controls['identifier'].touched">
            ⚠️ Enter a valid user detail!
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
            ⚠️ Password must be at least 6 characters!
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="invalid">
          invalid Username or password
        </mat-error>
        <button mat-raised-button color="accent" class="login-button" type="submit" [disabled]="loginForm.invalid">
          🚀 Login
        </button>
       
        
        <p class="signup-link">New Player? <a routerLink="/auth/signup">Create Account</a></p>
        
      </form>
    </mat-card>
  </div>
  